apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: granite-embedding
  namespace: vllm-embeddings
  labels:
    app: granite-embedding
spec:
  to:
    kind: Service
    name: granite-embedding
    weight: 100
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
