apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - route.yaml
  - configmap.yaml

labels:
  - pairs:
      app.kubernetes.io/component: evaluator
    includeSelectors: false
