services:
  pgvector:
    image: docker.io/pgvector/pgvector:pg17
    container_name: pgvector
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U \"$${POSTGRES_USER}\" -d \"$${POSTGRES_DB}\""]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    volumes:
      - pgvector-data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d:Z
volumes:
  pgvector-data:
    driver: local
