# Service for internal cluster access to PostgreSQL
---
apiVersion: v1
kind: Service
metadata:
  name: pgvector
  labels:
    app: pgvector
    app.kubernetes.io/name: pgvector
    app.kubernetes.io/part-of: advanced-rag
spec:
  type: ClusterIP
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
  selector:
    app: pgvector
